<!DOCTYPE html>
<html>
  <head>
    <title>NomStop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class='text-center'>
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="#">Home</a>
            <%= link_to "Dishes", dishes_path, :class => 'nav-link' %>            
            <% if user_signed_in? %>
              <%= link_to "Profile", edit_user_registration_path, :class => 'nav-link' %>
              <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'nav-link'  %>
              <% else %>
              <%= link_to "Sign up", new_user_registration_path, :class => 'nav-link'  %>
              <%= link_to "Login", new_user_session_path, :class => 'nav-link'  %>
            <% end %>
          </nav>
        </div>
      </header>
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>

      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
